#popup {
    width: 700px;
    height: 500px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 6px;
    position: fixed;
    top: 100px;
    left: calc(50% - 350px);
    display: none;
    padding: 15px;
}

#closePopupBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#bucket {
    float: right;
}

#closeBucket{
    position: absolute;
    right: 10px;
    top: 5px;
}